################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/HealthCare/.vs
/HealthCare/bin
/HealthCare/obj
